.navigation {
  display: flex;
  justify-content: space-between;
  height: 82px;
  align-items: center;
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 24px;
  font-size: 16px;
  color: #2e2e2e;
  font-weight: 700;
}
.navigation ul li {
  padding: 10px;
  transition: 1s;
  cursor: pointer;
}

.navigation ul li:hover {
  background: #2e2e2e;
  color: #fff;
}
